.titulo{
 text-align: center;  
 top: 150px;

}
body{
    background-color: rgb(130, 141, 130);
}

.tudo1{
    text-align: center;
    position: relative;
    background-color: rgb(28, 72, 28);
    height: 500px;
    width: 400px;
    margin: 0 auto;


}
.h1{
    top: 100px;
    position: relative;
}

